<div class="container mt-4">
  <h1><%= @article.title %></h1>
  <p><%= @article.content %></p>

  <p>
    <%= link_to article_path(@article), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do %>
      <i class="fa-solid fa-trash"></i> Delete
    <% end %>
    |
    <%= link_to "Edit", edit_article_path(@article) %>
      |
    <%= link_to "Back", articles_path %>
  </p>
</div>
